!DOCTYPE html
html lang=de
head
    meta charset=UTF-8
    meta name=viewport content=width=device-width, initial-scale=1.0
    titleUpload.gh.detitle
    link rel=stylesheet href=staticstyle.css
head
body
    div class=navbar
        div class=navbar-left
            a href=Upload Filea
        div
        div class=navbar-right
            {% if username %}
                spanWillkommen, {{ username }}span  a href=logoutLogouta
            {% else %}
                a href=loginLogina  a href=registerRegistera
            {% endif %}
        div
    div
    div class=container
        h2Datei hochladenh2
        form action=upload method=post enctype=multipartform-data
            input type=file name=file requiredbr
            input type=text name=description placeholder=Beschreibung requiredbr
            input type=text name=manual placeholder=Bedienungsanleitungbr
            input type=text name=file_password placeholder=Passwort für die Dateibr
            input type=checkbox onclick=showPassword() Passwort anzeigenbr
            button type=submitHochladenbutton
        form
    div
    script
        function showPassword() {
            var x = document.getElementsByName('file_password')[0];
            if (x.type === password) {
                x.type = text;
            } else {
                x.type = password;
            }
        }
    script
body
html
